<div class="container">
    <div class="row">

      @foreach(Deportista deportista in @ViewBag.DeportistasPorPais)
      {
        <div class="card" style="width: 18rem;">
          <img src="@deportista.Foto" class="card-img-top" alt="Foto deportista">
            <div class="card-body">
              <h5 class="card-title">@deportista.Nombre @deportista.Apellido</h5>
              <p class="card-text">Nacimiento: @deportista.FechaNacimiento.ToString("dd MMMM yyyy")</p>
              <a href='@Url.Action("VerDetalleDeportista", "Home", new {idDeportista = deportista.IdDeportista})' class="btn btn-primary">Ver Detalle Deportista</a>
            </div>
        </div>
      }
    </div>
</div>