<div class="container">
    <div class="row">

      @foreach(Deportista deportista in @ViewBag._ListadoDeportistasPorPais)
      {
          <div class="card" style="width: 18rem;">
          <img src="@deportista.Foto" class="card-img-top" alt="Foto deportista">
            <div class="card-body">
              <h5 class="card-title">@deportista.Nombre @deportista.Apellido</h5>
              <p class="card-text">Nacimiento: @deportista.FechaNacimiento.ToString("dd MMMM yyyy")</p>
            </div>
          </div>
      }
    </div>
</div>
